*{
    margin: 0;
    padding: 0;
    list-style: none;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
i{
    font-style: normal;
    display: inline-block;
}
main{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.focus{
    position: relative;
    background: #f5f5f5;
    z-index: 1;
}
.swiper-container {
    width: 100%;
    height: 420px;
  }
  .swiper-wrapper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }
  .swiper-pagination-bullet{
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #fff;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
      box-shadow: 0 0 0 4px #dfcead;
      background: #a7936e;
  }
  .swiper-button-white{
    position: absolute;
    z-index: 9;
    top: 200px!important;
    width: 50px;
    height: 50px;
    cursor: pointer;
    opacity: 80;
    background-color: #E2C199;
    border-radius: 500px;
  }
  .next,.next0{
    display: block;
    right: 104.5px;
   
  }
  .next i,.next0 i{
    width: 100%;
    height: 100%;
    background: url(./img/hxm_yanxuan-zc_web_20171214_style_img_x1_icon-normal-sb69a8fe138-5e42066797.png);
    background-position: 0 -5001px;
  }
  .prev,.prev0{
    display: block;
    left: 104.5px;
  }
  .prev i,.prev0 i{
    width: 100%;
    height: 100%;
    background: url(./img/hxm_yanxuan-zc_web_20171214_style_img_x1_icon-normal-sb69a8fe138-5e42066797.png);
    background-position: 0 -4871px;
  }
  .swiper-button-prev:after, .swiper-button-next:after {
    content: '';
}
.Cnav{
  background: #fff;
  height: 80px;
  padding: 8px 0;
  text-align: center;
  font-size: 0;
}
.Cwrap{
  position: relative;
  font-size: 20px;
  white-space: nowrap;
  width: 1090px;
  margin: 0 auto;
  box-sizing: border-box !important;
}
.Ctil{
  display: inline-block;
  width: 48px;
    vertical-align: middle;
    font-size: 24px;
    color: #B4A078;
    letter-spacing: 0;
    margin-right: 28px;
}
.Ciconlist{
  display: inline-block;
  vertical-align: middle;
  height: 60px;
}
.Ciconlist li{
  display: inline-block;
    height: 100%;
    width: 264px;
    padding-top: 15px;
    border-left: 1px solid #eaeaea;
}
.Ciconlist img{
  width: 38px;
  height: 38px;
  float: left;
    margin: -5px 0 0 40px;
}

.Ciconlist span{
  margin-left: 16px;
  margin-top: 4px;
}
.Cproject{
  width: 100%;
  padding-top: 20px;
    padding-bottom: 20px;
    background: #f4f4f4;
}
.stating{
  padding: 40px 0;
}
.pWarp{
  width: 1090px;
  margin: 0 auto;
}
.pTitle{
  position: relative;
    width: 461px;
    margin: 0 auto 10px;
    height: 28px;
    background: #f4f4f4;
}
.pLine{
  position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    background: #ccc;
}
.pCont{
  position: absolute;
    width: 221px;
    height: 30px;
    top: 50%;
    left: 50%;
    margin: -17px 0 0 -110px;
    font-size: 0;
    text-align: center;
    background: #f4f4f4;
}
.pCont img{
  display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
}

.pCont span{
  display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    font-size: 28px;
    color: #333;
    letter-spacing: 1px;
    line-height: 28px
}
.pItem{
  width: 100%;
  overflow: hidden;
  margin-right: -10px;
}
ul{
  margin-left: 0;
  padding-left: 0;
}
.pItemOne{
  float: left;
  margin-top: 20px;
  width: 535px;
  height: 220px;
  background: #fff;
  cursor: pointer;
  margin-left: 20px;
}
.pItemOne:nth-child(2n-1){
  margin-left: 0;
}
.ItemCon{
  overflow: hidden;
}
.ItemPic{
  position: relative;
  float: left;
  width: 220px;
  height: 220px;
  overflow: hidden;
}
.ItemPic img{
  width: 100%;
  transition: all .8s;
  vertical-align: top;
}
.ItemPic:hover img{
  transform: scale(1.1);
}
.ItemInfo{
  float: left;
  padding-left: 15px;
  width: 300px;
}
.pUp{
  font-size: 20px;
  color: #333;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 24px;
}
.pDowm{
  font-size: 14px;
  color: #999;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 6px;
}
.Pprogress{
  width: 300px;
    background-color: transparent;
    padding: 0;
  position: relative;
}
.pBar{
  margin-top: 38px;
  width: 220px;
    height: 2px;
    background-color: #F4F4F4;
    border-radius: 2px;
    position: relative;
}
.progressBar{
  height: 2px;
  background-color: #B4A078;
  border-radius: 2px;
  position: absolute;
  left: 0;
  top: 0;
}
.percent{
  position: absolute;
    color: #B4A078;
    font-size: 16px;
    line-height: 16px;
    top: -7px;
    left: 226px;
}
.detail{
  margin-top: 25px;
  overflow: hidden;
}
.detail div{
  width: 95px;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    text-align: center;
}
.detail p{
  line-height: 1;
  font-size: 14px;
  color: #333;
}
.have{
  margin-top: 10px;
  color: #999;
  font-size: 14px;
  line-height: 1;
}
.ending{
  padding: 40px 0;
}
.cEnd{
  margin-top: 52px;
  overflow: hidden;
}
.Ecolor{
  float: left;
    font-size: 18px;
    color: #2BAB52;
    letter-spacing: 0;
    line-height: 18px;
}
.amount{
  float: right;
    margin: 2px 10px 0 0;
    font-size: 14px;
    color: #999;
    letter-spacing: 0;
    line-height: 14px;
}
.percent>span{
  display: inline-block;
}
.detail>div>p>span{
  display: inline-block;
}
.Ciconlist>li{
  box-sizing: border-box;
}
  .m-indexSideBar{
    display: none;
  }
  .shows2 .amount{
    display: none;
  }
       
