*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.art{
    width: 100%;
    position: relative;
    height: 450px;
    overflow: hidden;
    background: rgba(245,245,245,.5);
    margin-top: 141px;
}
.art_container{
    position: relative;
    width: 1090px;
    height: 450px;
    margin: 0 auto;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
}
.swiper-button-next.swiper-button-white.ri_next,
.swiper-button-prev.swiper-button-white.le_prev {
    left: auto;
    width: 40px;
    height: 40px;
    background-color: #E2C199;
    border-radius: 500px;
    opacity: 0;
}
.swiper-button-next.swiper-button-white.ri_next{
    right: 20px;
}
.swiper-button-prev.swiper-button-white.le_prev{
    left: 20px;
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 20px;
    text-align: center;
}
.swiper-pagination-bullet {
    background: white;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    border-radius: 500px;
    background: #a7936e;
    box-shadow: 0 0 0 4px #dfcead;
}
.art_container:hover .ri_next{
    opacity: 1;
}
.art_container:hover .le_prev{
    opacity: 1;
}
.art1{
    width: 1090px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    overflow: hidden;
}
.art1_info{
    margin: 40px 0 0;
    width: 1090px;
    overflow: hidden;
}
.art1_top{
    padding-bottom: 20px;
    overflow: hidden;
}
.art1_top_h2{
    float: left;
    font-size: 28px;
    color: #333;
    line-height: 1;
    font-weight: 400;
}
a{
    text-decoration: none;
}
.art1_top_a{
    display: block;
    float: right;
    height: 28px;
    padding-top: 14px;
    line-height: 1;
    font-size: 14px;
    color: #999;
}
.art1_btm{
    overflow: hidden;
}
.art1_btm1-on{
    float: left;
    width: 535px;
}
.art1_btm>div:nth-child(1){
    margin-right: 20px;
}
.art1_btm1-on div{
    width: 535px;
    height: 315px;
    overflow: hidden;
}
.art1_btm1-on h3{
    font-weight: 400;
    padding-top: 14px;
    font-size: 18px;
    line-height: 30px;
    color: #333;
}
.art1_btm1-on p{
    line-height: 26px;
    font-size: 14px;
    color: #999;
}
.art1-on_img{
    transition: all 0.5s
}
.art1_btm1-on div:hover .art1-on_img{
    transform: scale(1.06)
}
.srt2{
    width: 1110px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.srt2_cent{
    margin-top: 76px;
    margin-bottom: 80px;
}
.srt2_top{
    overflow: hidden;
}
.srt2_top h2{
    float: left;
    font-size: 28px;
    color: #333;
    line-height: 1;
    font-weight: 400;
}
.srt2_top a{
    float: right;
    height: 28px;
    padding-top: 14px;
    line-height: 1;
    font-size: 14px;
    color: #999;
    margin-right: 20px;
}
.srt2_btm{
    margin: 18px -16px 0 0;
    overflow: hidden;
}
.list_itm{
    display: block;
    float: left;
    margin-right: 16px;
    color: #333;
    width: 260px;
    height: 410px;
    border: 1px solid #eaeaea;
    font-size: 14px;
}
.list_itm_top{
    height: 260px;
    overflow: hidden;
}
.list_itm_top img{
    width: 260px;
    height: 260px;
}
.list_itm_btm{
    padding: 0 18px;
}
.list_btm-zi1{
    position: relative;
    height: 40px;
}
.list_btm-zi1 div:nth-child(1){
    position: absolute;
    top: -20px;
    width: 45px;
    height: 45px;
    padding: 8px;
    border-radius: 100%;
    background-color: #fff;
}
.list_btm-zi1 div:nth-child(1) img{
    border-radius: 100%;
    width: 44px;
    height: 44px;
}
.list_btm-zi1 div:nth-child(2){
    padding: 12px 0 0 61px;
}
.list_itm_btm>div:nth-child(2){
    margin: 10px 0 6px;
    height: 24px;
    font-weight: 700;
    font-size: 16px;
}
.list_itm_btm p{
    height: 40px;
    line-height: 20px;
    color: #999;
}
.list_itm:hover{
    box-shadow: 0 0 16px 1px rgba(0,0,0,.1);
}
.srt_it{
    width: 100%;
    background-color: #F5F5F5;
    padding-bottom: 80px;
}
.srt3{
    width: 1090px;
    margin: 0 auto;
}
.srt3_top{
    padding: 80px 0 20px;
    overflow: hidden;
}
.srt3_top h2{
    float: left;
    font-size: 28px;
    color: #333;
    line-height: 1;
    font-weight: 400;
}
.srt3_top a{
    float: right;
    height: 28px;
    padding-top: 14px;
    line-height: 1;
    font-size: 14px;
    color: #999;
}
.srt3_btm{
    overflow: hidden;
    box-sizing: border-box;
}
.srt3_itm{
    position: relative;
    float: left;
    width: 350px;
    height: 180px;
    margin-right: 20px;
}
.srt3_itm:nth-child(3),
.srt3_itm:nth-child(6){
    margin-right: 0px;
}
.srt3_lt{
    float: left;
    width: 180px;
    height: 180px;
    overflow: hidden;
}
.srt3_lt img{
    width: 100%;
    height: 100%;
    transition: all 0.5s
}
.srt3_lt:hover .srt3_lt-img{
    transform: scale(1.05)
}
.srt3_rt{
    width: 160px;
    padding-right: 10px;
    margin: 74px 0 0 190px;
}
.srt3_rt h4{
    font-size: 16px;
    line-height: 26px;
    color: #333;
    max-height: 52px;
    overflow: hidden;
    font-weight: 400;
}
.srt3_rt p{
    padding-top: 12px;
    font-size: 14px;
    color: #999;
}
.srt4{
    width: 1090px;
    margin: 0 auto;
}
.srt4_top{
    padding: 80px 0 20px;
    overflow: hidden;
}
.srt4_top h2{
    float: left;
    font-size: 28px;
    color: #333;
    line-height: 1;
    font-weight: 400;
}
.srt4_top span{
    float: right;
    height: 28px;
    padding-top: 14px;
    line-height: 1;
    font-size: 14px;
    color: #999;
}
.srt4_btm{
    height: 260px;
}
.srt4_btm-le,.srt4_btm-rt{
    float: left;
    width: 535px;
    height: 260px;
    position: relative;
    overflow: hidden;
}
.srt4_btm-le{
    margin-right: 20px;
}
.srt4_img{
    transition: all 1s
}
.srt4_btm-le:hover .srt4_img{
    transform: scale(1.05)
}
.srt4_btm-rt:hover .srt4_img{
    transform: scale(1.05)
}
.srt4_nei{
    position: absolute;
    top: 0;
    left: 50px;
    right: 0;
    bottom: 0;
    color: #666;
    font-size: 18px;
}
.srt4_nei h3{
    margin-top: 77px;
    font-size: 24px;
    color: #333;
    line-height: 1;
    font-weight: 400;
}
.srt4_nei p{
    padding: 16px 0 30px;
    line-height: 1;
}
.srt5{
    width: 1090px;
    margin: 0 auto;
}
.srt5_top{
    padding: 80px 0 20px;
    overflow: hidden;
}
.srt5_top h2{
    float: left;
    font-size: 28px;
    color: #333;
    line-height: 1;
    font-weight: 400;
}
.srt5_btm{
    color: #333;
    overflow: hidden;
}
.srt5_pin{
    height: 72px;
    color: #666;
    line-height: 70px;
    text-align: center;
    border-left: 1px solid #eaeaea;
    box-sizing: border-box;
}
.srt5_itm{
    width: 363px;
    float: left;
    background-color: #f5f5f5;
    border: 1px solid #eaeaea;
    border-left: none;
    cursor: pointer;
    color: #666;
    font-size: 18px;
    box-sizing: border-box;
}
.srt5_itm.active{
    color: #333;
    background-color: #fff;
    border-bottom-color: #fff;
}
.srt5_tCont{
    position: relative;
    border: 1px solid #eaeaea;
    border-top: none;
    padding: 40px 100px 40px 50px;
    height: 601px;
    box-sizing: border-box;
}
.srt5-bom{
    margin-bottom: 30px;
    height: 40px;
    text-align: left;
}
.srt5-bom div{
    float: left;
    margin-right: 25px;
    width: 20px;
    height: 40px;
    color: #B4A078;
    opacity: .5;
    font-size: 40px;
    line-height: 1;
    background-image: url(./img/下载.png);
    background-repeat: no-repeat;
}
.srt5-bom p{
    overflow-wrap: break-word;
    margin-left: 45px;
    height: 40px;
    font-size: 14px;
    color: #333;
    line-height: 20px;
}
.srt5-img{
    display: block;
    width: 940px;
    height: 450px;
    position: relative;
}
.srt5-img img{
    width: 100%;
    height: 100%;
}
.hove_BJ{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: all .5s;
    background-color: #333;
}
.hove_zi{
    display: none;
    position: absolute;
    top: 207px;
    left: 425px;
    width: 90px;
    height: 36px;
    border: 1px solid #fff;
    border-radius: 40px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    line-height: 34px;
    background-color: transparent;
    cursor: pointer;
}
.hove_BJ:hover {
    display: block;
    opacity: .5;
}
.srt5-img:hover .hove_zi{
    display: block;
}
.srt5_tCont-rt{
    position: absolute;
    width: 370px;
    height: 600px;
    top: 0;
    right: -320px;
    bottom: 0;
    transition: all 1s
}
.srt5_Button{
    float: left;
    width: 50px;
    height: 600px;
    background-color: #E8E2D6;
    text-align: center;
    cursor: pointer;
}
.srt5_Button div{
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    color: #B4A078;
    margin: 110px 0px;
}
.shensuo{
    margin-left: 50px;
    height: 600px;
    padding: 0px 20px 0;
    overflow: hidden;
    background-color: #fff;
}
.Item{
    display: block;
    width: 280px;
    height: 168px;
    margin-bottom: 20px;
    color: #333;
    font-size: 14px;
    line-height: 1;
}
.Item.on{
    margin-top: 40px;
}
.Item div{
    width: 280px;
    height: 134px;
}
.Item div img{
    width: 100%;
    height: 100%;
}
.Item p{
    padding: 10px 0;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;   
}
.dispk{
    display: none;
}